<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Exercise 4</title>
    <meta name="description" content="The HTML5 Standard Template">
    <meta name="author" content="Developer Name">
<!---->
</head>

<body>
	<div id="root" >
	
		<input type="text" id="input" v-model="newName" /> 
		<button v-on:click="addName"> Add Name </button>
		
		<ul> Names of my friends 
			<li v-for="name in names" v-text="name"> </li> 
		</ul>
	
	
	</div>
	
		
		<script src="vue.js"></script>
		<script>
 		
		var app = new Vue({
			el: '#root',
			data: {
					newName: '',
					names : ['Ruth', 'Olivia', 'Albert', 'Christine', 'Soso' ] ,
					message : 'Hello World'  
				} 		
				
			methods:{
				addName(){
				this.names.push(this.newName);
				}
 		
			}
		})		


		});
		</script>
		
		
 
</body>

</html>