<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Exercise 6</title>
	<meta name="description" content="The HTML5 Standard Template">
	<meta name="author" content="Developer Name">
    <!---->
    
    <style>
        .color-red { color:rgb(212, 40, 40); }
        .color-blue { color:rgb(78, 14, 196); }
        .is-loading { background:rgba(66, 196, 14, 0.555); }
        
    </style>
</head>

<body>
	<div id="root">
        <h1 :class="className"> I love Vue with Vs Code </h1>
		<input type="text" id="input" v-model="newName" />
		<button :class="{ 'is-loading':isLoading }" @click="toggleClass" > Click Me </button>
		<button @click="addName" v-bind:title="title"> Add Name </button>
        
		<ul> Names of my friends
			<li v-for="name in names" v-text="name"> </li>
		</ul>


	</div>


	<script src="vue.js"></script>
	<script>

		var app = new Vue({
			el: '#root',
			data: {
				isLoading: false,
				className: 'color-blue',
                title: 'Button Title',
				newName: '',
				names: ['Ruth', 'Olivia', 'Albert', 'Christine', 'Soso'],
				message: 'Hello World'
			}, 		
				
			methods: {
				addName() {
					this.names.push(this.newName);
					// clear input
					this.newName = '';
				},

                toggleClass(){
                    this.isLoading=true ;
                }

			}
		})		

	</script>



</body>

</html>